In [45]:
import pandas as pd
import numpy as np
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# nltk.download('all')

In [46]:
reviews_df = pd.read_json('/Users/sean/Documents/University_of_denver/comp_4447_tools_1/Group_project/yelp_dataset/yelp_academic_dataset_review.json',lines =True, nrows = 500)

In [47]:
reviews_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [48]:
cols_to_drop =["review_id", "user_id", "date", "useful", "funny", "cool"]
reviews_df.drop(cols_to_drop, inplace= True, axis=1)
reviews_df.head()

,business_id,stars,text
0,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is..."
1,7ATYjTIgM3jUlt4UM3IypQ,5,I've taken a lot of spin classes over the year...
2,YjUWPpI6HXG530lwP-fb2A,3,Family diner. Had the buffet. Eclectic assortm...
3,kxX2SOes4o-D3ZQBkiMRfA,5,"Wow! Yummy, different, delicious. Our favo..."
4,e4Vwtrqf-wpJfwesgvdgxQ,4,Cute interior and owner (?) gave us tour of up...

## Starting with just the first row

In [49]:
sentence = reviews_df.iloc[0][2].strip()
print(sentence)

If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to like it! I have been to it's other locations in NJ and never had a bad experience.

The food is good, but it takes a very long time to come out. The waitstaff is very young, but usually pleasant. We have just had too many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker.

In [50]:
tokens = word_tokenize(sentence.lower())

# removing stopwords
tokens = [x for x in tokens if x not in stopwords.words('english')]
tokens = [x for x in tokens if x.isalpha()]
tokens

['decide',
 'eat',
 'aware',
 'going',
 'take',
 'hours',
 'beginning',
 'end',
 'tried',
 'multiple',
 'times',
 'want',
 'like',
 'locations',
 'nj',
 'never',
 'bad',
 'experience',
 'food',
 'good',
 'takes',
 'long',
 'time',
 'come',
 'waitstaff',
 'young',
 'usually',
 'pleasant',
 'many',
 'experiences',
 'spent',
 'way',
 'long',
 'waiting',
 'usually',
 'opt',
 'another',
 'diner',
 'restaurant',
 'weekends',
 'order',
 'done',
 'quicker']

In [51]:
#lemmatize
lemma = WordNetLemmatizer()
tokens = [lemma.lemmatize(x) for x in tokens]

In [52]:
final_text = ' '.join(tokens)

In [53]:
analyzer = SentimentIntensityAnalyzer()
score = analyzer.polarity_scores(final_text)
score

{'neg': 0.0, 'neu': 0.747, 'pos': 0.253, 'compound': 0.8968}

In [54]:
#lets compare the score to the number of stars given
print(score)
print(reviews_df.iloc[0][1])

{'neg': 0.0, 'neu': 0.747, 'pos': 0.253, 'compound': 0.8968}
3

## looking at the original sentence

In [56]:
print(sentence)

If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to like it! I have been to it's other locations in NJ and never had a bad experience.

The food is good, but it takes a very long time to come out. The waitstaff is very young, but usually pleasant. We have just had too many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker.

## I think in the sentence theres a bit of negative connetation to wait times, the staff that was maybe a bit more contextual, that the scorer didnt pick up on